<h1>中目黒の美味いごはん</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_food_path %>

<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"foods",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<h3>投稿一覧</h3>



<%= page_entries_info @foods %>
<div class="foods-container">
  <% @foods.each do |t| %>
    <div class="food">
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <%= link_to t.user.name, user_path(t.user.id) %>
      <%= t.user.email %>
      <%= t.name %>
      <%= t.genre %>
      <%= t.address %>
      <%= t.cost %>
      <%= t.about %>
      <%= t.date %>
      
      <div>
      <h2>総合評価：
      <span class="star-rating">
         <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
         <span class="star-rating-back">★★★★★</span>
      </span> 
      </h2>
      </div>

      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to food_like_path(id: t.id, food_id: t.id), method: :delete do %>
              <p>いいねを取り消す</p><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to food_likes_path(id: t.id, food_id: t.id), method: :food do %>
              <p>いいね</p><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= t.likes.count %>
  <% end %>

      <%= link_to "詳細へ", food_path(t.id) %>  
      <%= link_to "編集する", edit_food_path(t.id) %>
      <%= button_to "削除する", food_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>

<h2>gmap</h2>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

//複数マーカー ここから
      <% @foods.each do |food|%>
        ( function() { 
          let markerLatLng = { lat: <%= food.lat %>, lng: <%= food.lng %> }; // 緯度経度のデータ作成
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= food_url(food.id) %>' target='_blank'><%= food.name %></a>"
          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
      //複数マーカー ここまで  
    } 
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA4mNa8QKOk9FbkMkcshWkwi6xcOL047k&callback=initMap" async defer></script>
<%= paginate @foods %>