<h1>中目黒グルメサイト</h1>
<h3>新規投稿ページ</h3>
<%= form_for @foods do |f| %>

  <div class="field">
    <%= f.label :店の名前 %>
    <%= f.text_field :name, :size => 30 %>
  </div>


  <div class="field">
    <%= f.label :ジャンル  %>
    <%= f.select :genre, 
    [["イタリアン", "イタリアン"], 
    ["中華", "中華"], 
    ["和食", "和食"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
  <%= f.label :所要時間  %>
  <%= f.select :address, 
  [["5分以内", "5分以内"], 
  ["5~10分", "5~10分"], 
  ["15分以上", "15分以上"]], include_blank: "選択して下さい" %>
</div>

<div class="field">
    <%= f.label :相場  %>
    <%= f.number_field :cost, :size => 10 %>
  </div>

  <div class="field">
    <%= f.label :感想  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  <div class="field">
  <%= f.label :写真 %>
  <%= f.text_field :image, :size => 30 %>
</div>

 <h5>総合評価</h5>
   <div class="post_form">
    <%= f.radio_button :overall, 5 ,id: 'star1'%>
    <label for="star1"><span class="text">最高</span>★</label>

    <%= f.radio_button :overall, 4 ,id: 'star2'%>
    <label for="star2"><span class="text">良い</span>★</label>

    <%= f.radio_button :overall, 3 ,id: 'star3'%>
    <label for="star3"><span class="text">普通</span>★</label>

    <%= f.radio_button :overall, 2 ,id: 'star4'%>
    <label for="star4"><span class="text">悪い</span>★</label>

    <%= f.radio_button :overall, 1 ,id: 'star5'%>
    <label for="star5"><span class="text">最悪</span>★</label>
 </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", foods_path %>